body{
    background-color:rgb(163, 162, 159)
}

#pic-wrapper{
    text-align: center;
}

#pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;



}